# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named connections
**/connections/

# User page files
**/pages/u/

# PHPMailer file
**/PHPMailer

# this file include phpmailer settings and mail template
/functions/register/uvidcheck.php

# ignore ALL files in directory connections
# connections/connection.php
# connections/databaseconnect.php
# connections/pdoconfig.php
# connections/connection_close.php
