# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named connections
**/pages/u/
**/connections/
**/functions/PHPMailer/
**/functions/register/PHPMailer/

# this file include phpmailer settings and mail template
**/functions/register/uvid-check.php

# ignore ALL files in directory connections
# connections/connection.php
# connections/databaseconnect.php
# connections/pdoconfig.php
# connections/connection_close.php
