
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

:root{
    /* ===== Colors ===== */
    --body-color: #20051a;
    --sidebar-color: #FFF;
    --primary-color: #634a5a;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    color: #d1d1d1;
    background: #ff6e8b;
}

.cover-nav-wrapper {
    margin: 50px 120px 50px 140px;
    border-radius: 10px;
    background: rgb(173, 91, 196);
}

.cover-nav-wrapper ul {
    list-style: none;
}

.cover-nav {
    line-height: 1.5;
    font-size: 17px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #546673;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    padding-left: 65px;
    padding-right: 35px;
}

.cover-nav-options {
    display: flex;
    text-decoration: none;
}

.cover-nav-options a {
    text-decoration: none;
}

#active {
    background-color: rgb(99, 32, 76, 0.6);
    transition: all 250ms ease-in-out;
    border-radius: 10px;
}

.img-size {
    height: 27px;
    width: 27px;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
}

::placeholder {
    color: #fff;
    font-size: 15px;
}

input {
    font-size: 15px;
    background: rgb(70, 30, 82);
}

input[type="text"] {
    height: 40px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 80%;
    color: #fff;
}

input:hover {
    background-color: rgb(99, 32, 76, 0.6);
    transition: all 250ms ease-in-out;
}
