/*  Charset  */
@charset "UTF-8";


    body {
        background-color: #a5a4e9;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }

    #active {
        background-color: rgb(99, 32, 76, 0.6);
        transition: all 250ms ease-in-out;
        border-radius: 15px;
    }

    .section-top-bar {
        border-radius: 15px;
        height: 256px;
        background-color: transparent;
        margin: 50px 100px 0px 190px;
    }

    .nav-wrapper {
        color: #eeeeee;
        margin-bottom: 650px;
    }

    .cover-nav-wrapper {
        margin: 50px 100px 50px 190px;
        border-radius: 15px;
        background: rgb(202, 147, 218);
    }

    .cover-nav-wrapper ul {
        list-style: none;
    }

    .cover-nav {
        line-height: 1.5;
        font-size: 17px;
        color: #546673;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
        font-family: 'Rosarivo';
        box-sizing: inherit;
        border: 0;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        padding-left: 365px;
        padding-right: 35px;
    }
    
    .cover-nav-options {
        display: flex;
        text-decoration: none;
    }

    .cover-nav-options a {
        text-decoration: none;
        color: #fff;
    }

    .cover-nav-link {
        display: block;
        max-width: 170px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        font-weight: 400;
        color: #fcfcfc;
        transition: all 250ms ease-in-out;
        float: left;
        position: relative;
        margin: 0px 5px 0px 5px;
        padding: 0 12px;
        box-sizing: content-box;
    }

    .cover-nav-link:hover {
        background-color:rgb(99, 32, 76);
        border-radius: 15px;
    }

    .truncate-line, .truncate-line>p {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .profile-wrapper {
        margin: 0px 400px 0px 490px;
    }

    .cover-profile-bar {
        border-radius: 15px;
        float: left;
        height: 300px;
        background-color: #546673;
        padding: 20px 20px 20px 20px;
    }

    .cover-profile-avatar-img {
        display: inline-block;
        position: relative;
        border: 3px #0f0000 solid;
        border-radius: 100%;
        text-align: center;
        width: 129px;
        transition: width .2s ease-in-out;
    }


    .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }


    #message_counter {
        color: #fff;
        background-color: #546673;
        float: right;
        border-radius: 6px;
        margin-top: -3%;
        margin-right: 0.29%;
        margin-left: 89%;
        margin-bottom: 1%;
        padding: 0px 0px 0px 4px;
        width: 4%;
    }

    #count_message {
        color: #fff;
        background-color: #546673;
        float: right;
        border-radius: 6px;
        margin-top: -3%;
        margin-right: 1%;
        margin-bottom: 1%;
        padding: 0px 0px 0px 4px;
        width: 5%;
    }
