@charset "UTF-8";

@charset "UTF-8";

::-moz-selection { /* Code for Firefox */
	color: #d1d1d1;
	background: #ff6e8b;
}

::selection {
	color: #d1d1d1;
	background: #ff6e8b;
}

/*  Code for Firefox  */
::-moz-selection { 
    color: #d1d1d1;
    background: #ff6e8b;
}

/*  Code for all browsers  */
::selection {
    color: #d1d1d1;
    background: #ff6e8b;
}

/*  Kalınlık  */
::-webkit-scrollbar {
    width: 8px;
}

/*  Kayan şeyin arkasındaki şey  */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #0f0000; 
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: #800000;
    border-radius: 7px;
}

/*  kayan şeyin üstüne gelince olan şey  */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}


@font-face {
    font-family: 'Torus';
    src: url(https://www.scarletdevilmansion.org/assets/fonts/Torus-Regular.otf);
}

* {
    font-family: 'Torus';
    color: #fed0bb;
    cursor: url(https://www.scarletdevilmansion.org/assets/cursor/4361d7e992.png),default;
}

::placeholder {
    color: #fed0bb;
}

.section {
    margin-top: 50px;
    display: inline-flex;
    padding: 10px;
    border: 2px #bba453 solid;
}

input {
    font-size: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    border: none;
    width: 80%;
    background-color: #8c2f39;
    padding: 6px 6px;
    font-size: 16px;
    border-radius: 5px;
    color: #fed0bb;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: #8c2f39;
    padding: 6px 6px;
    margin: 5px 0px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: #fed0bb;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    color: #FCB9B2;
    background-color: #701229da;
    transition: all 0.15s ease-in-out;
}

input[type="submit"] {
    background-color: #8c2f39;
    padding: 6px 6px;
    margin: 5px 0px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: #fed0bb;
}

input[type="submit"]:hover {
    color: #FCB9B2;
    background-color: #701229da;
    transition: all 0.15s ease-in-out;
}