/*  Charset  */
@charset "UTF-8";

body {
    background-color: #a5a4e9;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*  Desktop and laptop  */
@media only screen and (min-width: 720px) {

    body {
        background-color: #a5a4e9;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }

    #active {
        background-color: rgb(99, 32, 76, 0.6);
        transition: all 250ms ease-in-out;
        border-radius: 15px;
    }

    .section-top-bar {
        border-radius: 15px;
        height: 256px;
        background-color: transparent;
        margin: 50px 100px 0px 190px;
    }

    .nav-wrapper {
        color: #eeeeee;
        margin-bottom: 650px;
    }

    .cover-nav-wrapper {
        margin: 50px 100px 50px 190px;
        border-radius: 15px;
        background: rgb(202, 147, 218);
    }

    .cover-nav-wrapper ul {
        list-style: none;
    }

    .cover-nav {
        line-height: 1.5;
        font-size: 17px;
        color: #546673;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
        font-family: 'Rosarivo';
        box-sizing: inherit;
        border: 0;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        padding-left: 365px;
        padding-right: 35px;
    }
    
    .cover-nav-options {
        display: flex;
        text-decoration: none;
    }

    .cover-nav-options a {
        text-decoration: none;
        color: #fff;
    }

    .cover-nav-link {
        display: block;
        max-width: 170px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        font-weight: 400;
        color: #fcfcfc;
        transition: all 250ms ease-in-out;
        float: left;
        position: relative;
        margin: 0px 5px 0px 5px;
        padding: 0 12px;
        box-sizing: content-box;
    }

    .cover-nav-link:hover {
        background-color:rgb(99, 32, 76);
        border-radius: 15px;
    }

    .truncate-line, .truncate-line>p {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .profile-wrapper {
        margin: 0px 400px 0px 490px;
    }

    .cover-profile-bar {
        border-radius: 15px;
        float: left;
        height: 300px;
        background-color: #546673;
        padding: 20px 20px 20px 20px;
    }

    .cover-profile-avatar-img {
        display: inline-block;
        position: relative;
        border: 3px #0f0000 solid;
        border-radius: 100%;
        text-align: center;
        width: 129px;
        transition: width .2s ease-in-out;
    }

    .cover-option-bar {
        border-radius: 15px;
        height: 300px;
        background-color: #245557;
        padding: 20px 20px 20px 230px;
    }

    .profile-wrapper {
        margin-bottom: 60px;
        display: block;
        height: 300px;
        width: 71%;
        border-radius: 10px;
    }

    .profile-picture {
        margin-bottom: inherit;
        height: 74%;
        width: inherit;
        background-color: #546673;
        border-radius: inherit;     
    }

    .profile-picture-content {
        display: flex;
        padding: 20px;
    }

    .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 5px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .form-control-textarea {
        display: block;
        width: 100%;
        height: 30%;
        padding: 5px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .custom-file {
        position: relative;
        display: inline-block;
        height: calc(1.5em + 0.75rem + 2px);
        margin-bottom: 0;
        width: 60%;
    }

    .custom-file-input {
        position: relative;
        z-index: 2;
        margin: 0;
        opacity: 0;
        width: 60%;
    }

    .custom-file-label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 60%;
        z-index: 1;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        background-color: #a3507a;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .user-about {
        margin-bottom: inherit;
        width: inherit;
        background-color: #546673;
        border-radius: inherit;     
    }
    
    .user-about-content {
        padding: 10px 20px 20px 20px;
        height: auto;
    }

    .pic-form input[type="submit"] {
        font-size: 14px;
        border-radius: 4px;
        border: #c058af;
        background-color: #f1ace6;
        margin-left: 27px;
        margin-top: 10px;
        color: #fff;
        padding: 6px 4px 6px 4px;
    }

    #message_counter {
        color: #fff;
        background-color: #546673;
        float: right;
        border-radius: 6px;
        margin-top: -3%;
        margin-right: 0.29%;
        margin-left: 89%;
        margin-bottom: 1%;
        padding: 0px 0px 0px 4px;
        width: 4%;
    }

    #count_message {
        color: #fff;
        background-color: #546673;
        float: right;
        border-radius: 6px;
        margin-top: -3%;
        margin-right: 1%;
        margin-bottom: 1%;
        padding: 0px 0px 0px 4px;
        width: 5%;
    }

    .user-p-change {
        margin-bottom: inherit;
        width: inherit;
        background-color: #546673;
        border-radius: inherit;  
        padding: 15px;   
    }

    .user-p-content {
        margin-top: 15px;
        margin-left: 35px;
    }

    input[type="password"] {
        padding: 6px 4px 6px 4px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        color: #000;
        background-color: #fff;
    }

    input[type="submit"] {
        font-size: 14px;
        border-radius: 4px;
        border: #c058af;
        background-color: #f1ace6;
        color: #fff;
        padding: 6px 4px 6px 4px;
    }

    #none-decoration {
        text-decoration: none;
        color: yellow;
    }
    
    sup {
        background-color: rgb(253, 0, 219, 0.5);
        font-size: 10px;
        border-radius: 5px;
        margin: 2px 5px 2px 5px;
        padding: 2px 2px 2px 2px;
    }

    p {
        margin-top: 5px;
    }



    .btn-sett {
        text-decoration: none;
        border: transparent;
        background-color: transparent;
        background: transparent;
        margin: 5px 5px 2px 5px;
    }

    .btn-sett:hover {
        text-decoration: none;
        border: #d1d1d1;
        border-radius: 3px;
        margin: 5px 5px 2px 5px;
        background-color: #110606;
        background: #1a1616;
    }

    img {
        border-radius: 15px;
    }

    ::selection{
        color: #fff;
        background: #490016;
      }
      .wrapper{
        width: 430px;
        background: #fff;
        border-radius: 5px;
        padding: 30px;
        box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
      }
      .wrapper header{
        color: #490016;
        font-size: 27px;
        font-weight: 600;
        text-align: center;
      }
      .wrapper form{
        height: 167px;
        display: flex;
        cursor: pointer;
        margin: 30px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        border: 2px dashed #490016;
      }

    form :where(i, p){
        color: #490016;
      }
      form i{
        font-size: 50px;
      }
      form p{
        margin-top: 15px;
        font-size: 16px;
      }
      
      section .row{
        margin-bottom: 10px;
        background: #E9F0FF;
        list-style: none;
        padding: 15px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      section .row i{
        color: #490016;
        font-size: 30px;
      }
      section .details span{
        font-size: 14px;
      }

    .progress-area .row .content{
        width: 100%;
        margin-left: 15px;
      }
      .progress-area .details{
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        justify-content: space-between;
      }
      .progress-area .content .progress-bar{
        height: 6px;
        width: 100%;
        margin-bottom: 4px;
        background: #fff;
        border-radius: 30px;
      }
      .content .progress-bar .progress{
        height: 100%;
        width: 0%;
        background: #490016;
        border-radius: inherit;
      }
      .uploaded-area{
        max-height: 232px;
        overflow-y: scroll;
      }
      .uploaded-area.onprogress{
        max-height: 150px;
      }
      .uploaded-area::-webkit-scrollbar{
        width: 0px;
      }
      .uploaded-area .row .content{
        display: flex;
        align-items: center;
      }
      .uploaded-area .row .details{
        display: flex;
        margin-left: 15px;
        flex-direction: column;
      }
      .uploaded-area .row .details .size{
        color: #404040;
        font-size: 11px;
      }
      .uploaded-area i.fa-check{
        font-size: 16px;
      }
}

/*  769 pixel  */
@media screen and (max-width: 768px) {
    
}

/*  425 pixel */
@media screen and (max-width: 425px) {
    
}

@media screen and (max-width: 412px) {
    
}

/*  Code for Firefox  */
::-moz-selection { 
    color: #d1d1d1;
    background: #ff6e8b;
}

/*  Code for all browsers  */
::selection {
    color: #d1d1d1;
    background: #ff6e8b;
}

/*  Kalınlık  */
::-webkit-scrollbar {
    width: 8px;
}

/*  Kayan �?eyin arkasındaki �?ey  */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #0f0000; 
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: #800000;
    border-radius: 7px;
}

/*  kayan �?eyin üstüne gelince olan �?ey  */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}