
@charset "UTF-8";

body {
    color: #fff;
}

#w-co {
    color: #fff;
}

#topics-p span {
    margin-bottom: 10px;
}

.topic-m {
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 35px;
    margin-left: 140px;
}

.topic-m li {
    list-style: none;
}

.list {
    height: auto;
    background-color: #3d0909;
    margin-bottom: 10px;
    padding: 1px 1px 10px 10px;
    border-radius: 10px;
    width: 850px;
    border-left: 0px solid #89ac39;
    transition: all 270ms ease-in-out;
}

.topic-m li:hover{
    border-left: 7px solid #89ac39;
    margin-left: 7px;
}

.topic-m a {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: rgb(14, 138, 143);
    transition: color 150ms ease-in-out;
}

.topic-m a:hover {
    color: #a4d600;
}