@charset "UTF-8";

/*  Code for Firefox  */
::-moz-selection { 
    color: #d1d1d1;
    background: #ff6e8b;
}

/*  Code for all browsers  */
::selection {
    color: #d1d1d1;
    background: #ff6e8b;
}

/*  Kalınlık  */
::-webkit-scrollbar {
    width: 8px;
}

/*  Kayan şeyin arkasındaki şey  */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #0f0000; 
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: #800000;
    border-radius: 7px;
}

/*  kayan şeyin üstüne gelince olan şey  */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

a {
    text-decoration: none;
    color: yellow;
}

@font-face {
    font-family: 'Torus';
    src: url(https://www.scarletdevilmansion.org/assets/fonts/Torus-Regular.otf);
}

* {
    font-family: 'Torus';
    color: #FED4C1;
    /*cursor: url(https://www.scarletdevilmansion.org/assets/cursor/4361d7e992.png),progress;*/
}


#konular, #rozetler, #yorumlar {
    display: none;
}

#profil {
    display: block;
}

table, tr, td {
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-radius: 15px;
    max-width: 340px;
    min-width: 340px;
    padding: auto;
}

.table-1 {
    background-color: rgb(109, 70, 19);
}

.table-2 {
    background-color: rgb(31, 73, 75);
}

.aka {
    color: #db4263;
}

.pf-area {
    border-radius: 15px;
    max-width: 96px;
    max-height: 96px;
    min-width: 96px;
    min-height: 96px;
}



.section-top-bar {
    border-radius: 15px;
    height: fit-content;
    background-color: transparent;
}

.section-top-bar img {
    border-radius: 15px;
}